/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin';
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);

// Mixin for include fonts
@include font-face("Gilroy", '../fonts/Gilroy-Regular', normal, normal);
@include font-face("Gilroy", '../fonts/Gilroy-Light', 300, normal);
@include font-face("Gilroy", '../fonts/Gilroy-ExtraBold', 900, normal);

 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';
@import 'core/icon';
@import 'core/navbar';
@import 'core/logo';
@import 'core/phone';
@import 'core/adress';

@import 'vendor/slick';


@import 'core/link';
@import 'core/topSlider';
@import 'core/title';
@import 'core/product';
@import 'core/production';
@import 'core/category';

@import 'core/howOrder';
@import 'core/deliveryAndPay';
@import 'core/productFilterTabs';
@import 'core/viewMore';
@import 'core/topContrast';









.typoText {
	max-width: 1227px;
	margin-bottom: 83px;
	h4 {
		font-size: 19px;
		font-weight: 600;
		margin: 0 0 32px;
	}
	p {
		margin: 28px 0;
		line-height: 1.8;
		letter-spacing: 0.1em;
	}
	@media (max-width: 767px) {
	    font-size: 11px;
		h4 {
			font-size: 14px;
			margin-bottom: 25px;
		}
		p {
			margin: 20px 0;
		}
	}
}

