/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin';
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);

// Mixin for include fonts
@include font-face("Gilroy", '../fonts/Gilroy-Regular', normal, normal);
@include font-face("Gilroy", '../fonts/Gilroy-Light', 300, normal);
@include font-face("Gilroy", '../fonts/Gilroy-ExtraBold', 900, normal);

 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';
@import 'core/icon';
@import 'core/navbar';
@import 'core/logo';
@import 'core/phone';
@import 'core/adress';

@import 'vendor/slick';


@import 'core/link';
@import 'core/topSlider';
@import 'core/title';
@import 'core/product';
@import 'core/category';

@import 'core/howOrder';
@import 'core/deliveryAndPay';


.topContrast {
	padding: 9.5% 0 8.6%;
	margin-bottom: 88px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&__title {
		font-size: 79px;
		line-height: 1;
		font-weight: 900;
		color: #fff;
		max-width: 81%;
	}
	@media (max-width: 991px) {
	    &__title {
			font-size: 50px;
	    }
	}
	@media (max-width: 991px) {
		padding: 76px 0 72px;
		margin-bottom: 52px;
	    &__title {
			font-size: 29px;
			line-height: 1.2;
			max-width: none;
			
	    }
	}
}

.productFilter {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 41px;
	@extend %clear_a;
	&__item {
		float: left;
		margin-right: 30px;
	}
	&__link {
		@extend %link;
		font-size: 18px;
		// line-height: 1.34;
		padding: 3px 10px;
		letter-spacing: 0.11em;
		&:not(:first-child) {
		}
		
		&:hover {
			border-bottom-color: transparent;
		}
		&.active,&:hover {
			background-color: #1d1d1d;
			color: #fff;
		}
	}
	@media (max-width: 767px) {
		margin-bottom: 21px;
		&__item {
			margin-right: 2px;
			margin-bottom: 25px;
		}
	    &__link {
	    	padding: 1px 5px 2px;
	    	font-size: 10px;
	    	letter-spacing: 0.15em;
	    }
	}
}

.productTabs {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 86px;
	@extend %clear_a;
	&__item {
		float: left;
		margin-right: 49px;
	}
	&__link {
		// color: #1d1d1d;
		@extend %link;
		font-size: 18px;
		letter-spacing: 0.11em;
		&:hover {
			border-bottom-color: transparent;
		}
		&.active {
			background-color: #1d1d1d;
			color: #fff;
		}
	}
	@media (max-width: 767px) {
		margin-bottom: 37px;
		&__item {
			margin-right: 2px;
			margin-bottom: 25px;
		}
	    &__link {
	    	padding: 1px 5px 2px;
	    	font-size: 10px;
	    	letter-spacing: 0.15em;
	    }
	}
}

.viewMore {
	margin-bottom: 99px;
	&__link {
		color: #1d1d1d;
		font-weight: 600;
		font-size: 16px;
		padding: 10px 0 13px;
		letter-spacing: 0.22em;
		text-transform: uppercase;
		border-bottom: 1px solid rgba(#5d5d5d, .5);
		&:hover {
			border-bottom-color: transparent;
			
		}
	}
	@media (max-width: 767px) {
		margin-bottom: 70px;
	    &__link {
	    	font-size: 10px;
	    }
	}
}

.typoText {
	max-width: 1227px;
	margin-bottom: 83px;
	h4 {
		font-size: 19px;
		font-weight: 600;
		margin: 0 0 32px;
	}
	p {
		margin: 28px 0;
		line-height: 1.8;
		letter-spacing: 0.1em;
	}
	@media (max-width: 767px) {
	    font-size: 11px;
		h4 {
			font-size: 14px;
			margin-bottom: 25px;
		}
		p {
			margin: 20px 0;
		}
	}
}

