extends template.jade

block variables
	-var pageClass = "";
	-var headerContrast = true;

block title
	title About

block content
	
	// begin aboutTop

	.aboutTop
		.container_center
			.aboutTop__title Фабрика Автомех
			.aboutTop__text.
				Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
				текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
				текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
				текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.

	// end aboutTop

	// begin aboutBody

	.container_center
		.typoText
			h4.
				Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
			p.
				Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
				текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
				текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
			p.
				Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
				текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
				текст текст текст текст текст текст текст текст текст.
			p.
				Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
				текст текст текст текст текст текст текст текст текст текст текст текст текст текст.

	.production
		.grid.production__grid
			.production__item
				img(src="img/production1.jpg", alt="")
			.production__item
				img(src="img/production2.jpg", alt="")
			.production__item
				img(src="img/production3.jpg", alt="")
		
		.container_center
			.typoText
				p.
					Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
				p.
					Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текст текст текст текст текст текст.
				p.
					Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
			h2.title.title__line Вы смотрели
			- var plate = 4;
			- var col = 4;
			include block/product.jade
			.typoText
				h4 Про мех:
				p Овчина — шкура, снятая со взрослых овец и молодняка старше 6 месяцев. Различают три вида овчин: меховые, кожевенные и шубные. <br>Меховые овчины получают от тонкорунных, полутонкорунных, тонкорунно-грубошерстных овец с однородной, а в ряде случаев <br>и с неоднородной полугрубой шерстью со значительным содержанием пуха. В большинстве случаев идут на пошив шапок, пальто, воротников при этом волосяной покров обращен наружу.
				p Шубные овчины — шкуры грубошерстных овец с неоднородной (смешанной) шерстью при этом длиной не менее 1,5 см. Применяется при пошивке тулупов, полушубков при этом кожная часть овчин (мездра) обращена наружу, а шерстный покров — внутрь. В кожевенном производстве используется овчина, по качеству волосяного покрова не подходящая для мехового и овчинно-шубного производства.

	// end aboutBody