extends template.jade

block variables
	-var pageClass = "";

block title
	title Billing

block content

	// begin payment
	.payment
		.container_center
			.payment__top
				a(href="#").payment__catalog Смотреть каталог
			.payment__title Оплата заказа
			.payment__body
				a(href="#").paymentItem
					span.paymentItem__title Оплата наличными
					span.paymentItem__text при получении в пунке выдачи или крурьеру
				a(href="#").paymentItem
					span.paymentItem__title Оплата банковской картой
					span.paymentItem__text при получении или при оформлении заказа
				a(href="#").paymentItem
					span.paymentItem__title Оплата по квитанции
					span.paymentItem__text в любом отделении банка или через клиент банк
					span.paymentItem__link Cкачать квитанцию
				a(href="#").paymentItem
					span.paymentItem__title Оплата с расчетного счета организации
					span.paymentItem__text Полный пакет бухгалтерских документов, договор
					span.paymentItem__link Cкачать квитанцию
	// end payment

	// begin accordeon
	.accordeon
		.container_center
			.accordeon__title Вопросы и ответы
			.accordeon__item
				span Даете ли вы гарантию?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item
				span Какой срок службы накидки?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item
				span Где расположено производство?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item
				span Есть ли сертификаты?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item 
				span Могу ли я сделать возврат или обмен товара?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
	// end accordeon

	.container_center
		h2.title.title__line Вы смотрели
		- var plate = 4;
		- var col = 4;
		include block/product.jade