extends template.jade

block variables
	-var pageClass = "";

block title
	title Catalog

block content
	.container_center
		a.backLink(href="shop.html") Смотреть каталог


		h1.title.title__page.title__cart Оформление заказа


