extends template.jade

block variables
	-var pageClass = "";
	-var headerContrast = true;

block title
	title Shop

block content
	.topContrast(style="background-image: url(img/shop-bg.jpg)")
		.container_center
			h1.topContrast__title.
				Автомобильные меховые
				накидки из овчины на сиденья

	.container_center
		.productFilter
			.productFilter__item
				a.productFilter__link(href="#") Искуственный мех 
			.productFilter__item
				a.productFilter__link.active(href="#") Австралийская овчина 
			.productFilter__item
				a.productFilter__link(href="#") Мех волка 
			.productFilter__item
				a.productFilter__link(href="#") Меховые 
			.productFilter__item
				a.productFilter__link(href="#") Шерсть 
			.productFilter__item
				a.productFilter__link(href="#") Мутон 

		.productTabs
			.productTabs__item
				a.productTabs__link(href="#") Бежевые 
			.productTabs__item
				a.productTabs__link(href="#") Белые 
			.productTabs__item
				a.productTabs__link(href="#") Коричневые 
			.productTabs__item
				a.productTabs__link(href="#") Черные 
			.productTabs__item
				a.productTabs__link.active(href="#") Длинный ворс 
			.productTabs__item
				a.productTabs__link(href="#") Зимние 
			.productTabs__item
				a.productTabs__link(href="#") На передние сиденья  
			.productTabs__item
				a.productTabs__link(href="#") На заднее сиденье 

		- var plate = 9;
		- var col = 3;
		include block/product.jade

		.viewMore
			a.viewMore__link Смотреть еще

		h2.title.title__line Вы смотрели
		- var plate = 4;
		- var col = 4;
		include block/product.jade
		
		include block/delivery.jade

		include block/aboutFur.jade



