// Style for button and pseudo button for input and link
.btn {
	color: #1d1d1d;
	font-family: $main_font_family;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	padding: 9px 15px;
	border: 2px solid #010101;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $btn_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0;
	transition: all 0.3s;
	text-decoration: none;
	letter-spacing: 0.2em;
	&:hover {
		background-color: #1d1d1d;
		border-color: #1d1d1d;
		color: #ffffff;
		text-decoration: none;
	}
	&:focus,&:active {
		background-color: darken(#1d1d1d, 4%);
		border-color: darken(#1d1d1d, 4%);
		color: #ffffff;
	}
	// @each $status_el, $color_bg in $el_colors {
	// 	&_#{$status_el} {
	// 		background-color: $color_bg;
	// 		border-color: $color_bg;
	// 		color: $btn_contrast_text_color;
	// 		&:hover {
	// 			background-color: darken($color_bg, 7%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 		&:focus,&:active {
	// 			background-color: darken($color_bg, 10%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 	}
	// }
	&_contrast {
		background-color: #fff;
		border-color: #fff;
	}
	@media (max-width: 767px) {
	    border-width: 1px;
	}
}
