.cart {
	display: table;
	clear: both;
	float: right;
	top: 101px;
	position: absolute;
	right: 38px;
	&__left {
		display: table-cell;
		position: relative;
		
	}
	&__right {
		display: table-cell;
		vertical-align: middle;
		width: 60px;
		padding-left: 19px;
		font-size: 18px;
		cursor: pointer;
		
	}

	&__count {
		position: absolute;
		border-radius: 50%;
		right: 10%;
		top: -5px;
		// top: 0;
		background-color: #ec3438;
		color: #fff;
		display: block;
		min-width: 23px;
		line-height: 23px;
		text-align: center;
		font-size: 14px;
		font-weight: 900;
		cursor: pointer;
		
	}
	.icon-cart {
		font-size: 37px;
	}
	@media (max-width: 1199px) {
	    top: 62px;
	}
	@media (max-width: 767px) {
		padding-top: 3px;
	    .icon-cart {
	    	font-size: 20px;
	    }
	    &__right {
	    	display: none;
	    }
	    &__count {
	    	min-width: 16px;
	    	line-height: 16px;
	    	font-size: 10px;
	    	top: -5px;
	    	left: 34%;
	    }
	}
}
