/* Header
 ----------------------------------------------------------------------------- */
.header {
	// background-color: #000;
	@extend %clear_a;
	padding: 30px 0;
	@media (min-width: 768px) {
		padding: 36px 0;
	}
	@media (min-width: 1200px) {
		padding: 71px 0 60px;
	}
	.container_center {
		max-width: 1835px;
		position: relative;
		
	}
	&__left {
		float: left;
		margin-right: 2.8%;
		.logo {
			width: 75px;
			margin-top: -9px;
			@media (min-width: 992px) {
				margin-top: 0;
				width: 116px;
			}
			@media (min-width: 1200px) {
				width: 132px;
			}
		}
	}
	&__action {
		float: right;
		// padding-top: 0px;
		.phone {
			vertical-align: middle;
			padding-top: 7px;
			@media (min-width: 768px) {
			}
			@media (min-width: 992px) {
				float: right;
			}
			@media (min-width: 1200px) {
			}
		}
		.soc {
			padding-top: 12px;
			text-align: right;
			margin-right: -10px;
			a {
				color: #1d1d1d;
			}
			@media (min-width: 992px) {
				display: inline-block;
				float: right;
				margin-right: 10px;
				padding-top: 0;
			}
			@media (min-width: 1200px) {
				margin-right: 22px;
			}
		}
	}
	&__center {
		padding-top: 3px;
	}
	&_contrast {
		position: absolute;
		width: 100%;
		z-index: 10;
		.navbar__link {
			color: #fff;
			position: relative;
		}
		.soc {
			a {
				color: #fff;
			}
			[class*="icon"] {
				color: #fff;
			}
		}
		.phone {
			color: #fff;
		}
		.logo {
			background-image: url('../img/logo_contrast.svg');
		}
		.cart {
			color: #fff;
			&__count {
				color: $main_color;
				background-color: #fff;
			}
		}
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
