.phone {
	font-weight: 900;
	text-decoration: none;
	font-size: 15px;
	padding: 5px 0;
	border-bottom: 1px solid transparent;
	&:hover {
		// text-decoration: underline;
		border-bottom-color: initial;
	}
	@media (min-width: 768px) {
	}
	@media (min-width: 992px) {
		font-size: 16px;
	}
	@media (min-width: 1200px) {
		font-size: 20px;
	}
}
