// begin footer 
footer.footer
	.container_center
		.footer__top
			a(href="/").logo

		.footer__bottom
			.footer__left
				.adress
					.adress__item
						a.adress__link(href="tel:+7 916 997-67-32")
							i.icon-tel 
							|+7 916 997-67-32
					.adress__item
						i.icon-marker 
						|ул. Новоарбатская, 27/11
					.adress__item
						i.icon-clock 
						|Ежедневно c 9 до 20
				.soc
					a(href="#").soc__item
						i.icon-whatsapp
					a(href="#").soc__item
						i.icon-viber
					a(href="#").soc__item
						i.icon-telegram
			.footer__right
				.soc__label Мы в соцсетях:
				.soc
					a.soc__item(href="#")
						i.icon-insta
					a.soc__item(href="#")
						i.icon-vk
					a.soc__item(href="#")
						i.icon-fb

			.footer__center
				ul.navbar
					li.navbar__item
						a(href="#").navbar__link Оплата
					li.navbar__item
						a(href="#").navbar__link Каталог
					li.navbar__item
						a(href="#").navbar__link Доставка
					li.navbar__item
						a(href="#").navbar__link О фабрике
					li.navbar__item
						a(href="#").navbar__link Где забрать
					li.navbar__item
						a(href="#").navbar__link Отзывы
					li.navbar__item
						a(href="#").navbar__link Гарантии и возврат
					li.navbar__item
						a(href="#").navbar__link Оптовикам
		.footer__copy
			|Все права сохранены © 2018
			a.icon-creayoulogo(href="#")
// end footer 