// begin deliveryAndPay 
.deliveryAndPay.grid
	.deliveryAndPay__item
		h2.title.title__line Доставка
		
		.deliveryComp.grid
			.deliveryComp__item
				img(src="img/pochta_rossii.png", alt="" width="99")
			.deliveryComp__item
				img(src="img/boxberry.png", alt="" width="87")
			.deliveryComp__item
				img(src="img/iml.png", alt="" width="96")
			.deliveryComp__item
				img(src="img/pickpoint.png", alt="" width="113")
			.deliveryComp__item
				img(src="img/shiptor.png", alt="" width="107")
			.deliveryComp__item
				img(src="img/dpd.png", alt="" width="103")
			.deliveryComp__item
				img(src="../img/cdek.png", alt="" width="106")

		a.deliveryComp__link(href="#") Рассчитать доставку
		a.deliveryComp__link(href="#") Где забрать

	.deliveryAndPay__item
		h2.title.title__line Оплата
		.pay.grid
			.pay__item
				.pay__label Банковские карты
				.pay__content
					img(src="img/visa.png", alt="" width="59")
					img(src="img/mc.png", alt="" width="66")
			.pay__item
				.pay__label Наложный платеж
				.pay__content
					img(src="img/nalozhenniy_platezh.svg", alt="" width="74")
			.pay__item
				.pay__label На расчетный счет организации
				.pay__content
					img(src="img/na_schet_org.svg", alt="" width="69")
	
// end deliveryAndPay 
