// begin accordeon
.accordeon
	.accordeon__item
		span Даете ли вы гарантию?
	.accordeon__element
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст.
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
	.accordeon__item
		span Какой срок службы накидки?
	.accordeon__element
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст.
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
	.accordeon__item
		span Где расположено производство?
	.accordeon__element
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст.
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
	.accordeon__item
		span Есть ли сертификаты?
	.accordeon__element
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст.
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
	.accordeon__item 
		span Могу ли я сделать возврат или обмен товара?
	.accordeon__element
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			текст текст текст текстм текст текст текст текст текст текст текст текст текст.
		p.accordeon__text.
			Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
// end accordeon
