// begin production 
.production
	.grid.production__grid
		.production__item
			img(src="img/production1.jpg", alt="")
		.production__item
			img(src="img/production2.jpg", alt="")
		.production__item
			img(src="img/production3.jpg", alt="")
	
// end production 
